# Dependencies
/node_modules
/venv
/.venv
/env
/.env

# Database
*.db
*.sqlite3

# Exported data
*.csv
*.json

# Uploads
uploads/
*.xml

# HTML content
all_blog_posts/
all_pages/

# C# build artifacts
[Bb]in/
[Oo]bj/

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/

# Build artifacts (general)
dist/
build/
*.egg-info/

# OS-specific & Tooling
.DS_Store
Thumbs.db
gemini.md
.gemini-clipboard/
.gemini-clipboard

# Logs
*.log
